<div class="container-fluid">
	
  <!-- Page Heading -->
   <div class="mt-160">
       <div class="d-sm-flex align-items-center justify-content-between mb-4">
         <h4 class="h4 mb-0 text-gray-800"> <i class="fas fa-fw fa-tachometer-alt text-primary mr-2"></i> Dashboard</h4>
       </div>
   </div>
   
    <!-- Content Row -->
       <div class="row">

         <!-- Hospital Details -->
         <div class="col-xl-4 col-md-6 mb-4">
           <div class="card border-left-primary shadow py-2">
             <div class="card-body">
               <div class="row no-gutters align-items-center">
                 <div class="col mr-2">
                   <div class="text-sm font-weight-bold text-primary text-uppercase mb-1">Associate Hospitals</div>
                   <div class="h5 mb-0 font-weight-bold text-gray-800">15</div>
                 </div>
                 <div class="col-auto">
                   <i class="fas fa-hospital fa-2x text-primary"></i>
                 </div>
               </div>
             </div>
           </div>
     </div>

         <!-- Total Baby Medical Records -->
   <div class="col-xl-4 col-md-6 mb-4">
           <div class="card border-left-info shadow py-2">
             <div class="card-body">
               <div class="row no-gutters align-items-center">
                 <div class="col mr-2">
                   <div class="text-sm font-weight-bold text-info text-uppercase mb-1">Pending Request (Hospital)</div>
                   <div class="h5 mb-0 font-weight-bold text-gray-800">9</div>
                 </div>
                 <div class="col-auto">
                   <i class="fas fa-procedures fa-2x text-info"></i>
                 </div>
               </div>
             </div>
           </div>
     </div>
   
   <!-- Probable Sepsis -->
         <div class="col-xl-4 col-md-6 mb-4">
           <div class="card border-left-danger shadow py-2">
             <div class="card-body">
               <div class="row no-gutters align-items-center">
                 <div class="col mr-2">
                   <div class="text-sm font-weight-bold text-danger text-uppercase mb-1">Pending Review (Score Calculation)</div>
                   <div class="h5 mb-0 font-weight-bold text-gray-800">15</div>
                 </div>
                 <div class="col-auto">
                   <i class="fas fa-baby-carriage fa-2x text-danger"></i>
                 </div>
               </div>
             </div>
           </div>
         </div>

       </div>
   
   
   <!-- Pending Messages -->
   <div class="card shadow mb-4">
             <div class="card-header py-3">
               <h6 class="m-0 font-weight-bold text-primary">Recent Messages</h6>
             </div>
             <div class="card-body">
                            <div class="table-responsive">
                             <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
             <thead>
               <tr role="row">
               <th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="">Date</th>
               <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="">Hospital Name</th>
               <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="">Staff Name</th>
               <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="">Download File</th>
               <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="">Action</th>
               </tr>
               </thead>
                             <tbody>
                                 <tr class="border-bottom">
               <td class="text-gray-700" width="">2016-06-20</td>
               <td class="tb-value" width="">CHL Apollo Hospital, Indore</td>
                                 <td class="text-gray-700" width="">Vivek Gupta</td>
               <td class="tb-label" width=""><a href="#">http://www.avyantra.com/images/default/report.pdf</a></td>
               <td class="text-gray-700 text-right" width="" ><a href="#" class="d-sm-inline-block btn btn-sm btn-primary shadow-sm mr-2" data-toggle="modal" data-target="#give-opinion">Give Opinion</a></td>
                                 </tr>

               <tr class="border-bottom">
               <td class="text-gray-700">2016-06-22</td>
               <td class="tb-value">Life Line Hospital, Bhopal</td>
                                 <td class="text-gray-700">Samaraddhi Sharma</td>
               <td class="tb-label"><a href="#">http://www.avyantra.com/images/default/report.pdf</a></td>
               <td class="text-gray-700 text-right" width="" ><a href="#" class="d-sm-inline-block btn btn-sm btn-primary shadow-sm mr-2" data-toggle="modal" data-target="#give-opinion">Give Opinion</a></td>
                                 </tr>

               <tr class="border-bottom">
               <td class="text-gray-700">2016-06-24</td>
               <td class="tb-value">Bombay Hospital, Nagpur</td>
                                 <td class="text-gray-700">Rahul Mehta</td>
               <td class="tb-label"><a href="#">http://www.avyantra.com/images/default/report.pdf</a></td>
               <td class="text-gray-700 text-right" width="" ><a href="#" class="d-sm-inline-block btn btn-sm btn-primary shadow-sm mr-2" data-toggle="modal" data-target="#give-opinion">Give Opinion</a></td>
                                 </tr>									
                             </tbody>
                             </table>
                            </div>
             </div>
           </div>
   

   
   </div>